*.fasta
*.fastq
*.fa
*.fq
*.sam
*.maf
*.pyc
*.log
*.tee

*/*.pyc
*/*.fasta
*/*.fastq
*/*.fa
*/*.fq
*/*.sam
*/*.maf
*/*.tee

*/*/*.fasta
*/*/*.fastq
*/*/*.fa
*/*/*.fq
*/*/*.sam
*/*/*.maf
*/*/*.pyc

reference-genomes/*
!reference-genomes/*.tar.gz
reads-simulated/
evaluation/
aligners/
temp/
index/
tools/
results/

evaluation/*
aligners/*
temp/*
index/*
tools/*

wrappers/wrapper_graphmap_test.py
temp*

cachegrind*
callgrind*
*.txt
results1/
